##### 문제 193.
직업, 직업별 최대 월급을 출력
SQL )
    select job, max(sal)
    from emp
    group by job;

In [1]:
import pandas as pd
emp = pd.read_csv('D:\\Data\\emp.csv')
print( emp.groupby('job')['sal'].max())

job
ANALYST      3000
CLERK        1300
MANAGER      2975
PRESIDENT    5000
SALESMAN     1600
Name: sal, dtype: int64

##### 문제194.
부서번호, 직업, 부서번호별 직업별 토탈웕브을 출력

In [4]:
import pandas as pd
emp = pd.read_csv('D:\\Data\\emp.csv')
print( emp.groupby(['job','deptno'])['sal'].sum())

job        deptno
ANALYST    20        6000
CLERK      10        1300
           20        1900
           30         950
MANAGER    10        2450
           20        2975
           30        2850
PRESIDENT  10        5000
SALESMAN   30        5600
Name: sal, dtype: int64

##### 문제 195.
직업, 직업별 토탈월급을 출력하는데 직업이 SALESMAN은 제외하고 출력하고
직업별 토탈월급이 6000 이상인 것만 출력

In [26]:
import pandas as pd
emp = pd.read_csv('D:\\Data\\emp.csv')
emp = emp[:][emp['job'] != 'SALESMAN']
emp_sal = emp.groupby('job')['sal'].sum()
result = emp_sal >= 6000
print(emp_sal[result == True])

job
ANALYST    6000
MANAGER    8275
Name: sal, dtype: int64

## 판다스와 오라클 데이터 분석 함수 비교
(순위)

##### 문제 196.
이름, 월급, 순위를 출력

In [32]:
import pandas as pd
emp = pd.read_csv('D:\\Data\emp.csv')
emp['rnk'] = emp['sal'].rank(ascending = 0).apply(int)
#emp['rnk'] = emp['sal'].rank(ascending = False).apply(int)
emp = emp.sort_values('rnk',ascending = 1)
print(emp[['ename','sal','rnk']])

     ename   sal  rnk
0     KING  5000    1
9     FORD  3000    2
11   SCOTT  3000    2
3    JONES  2975    4
1    BLAKE  2850    5
2    CLARK  2450    6
5    ALLEN  1600    7
6   TURNER  1500    8
13  MILLER  1300    9
4   MARTIN  1250   10
8     WARD  1250   10
12   ADAMS  1100   12
7    JAMES   950   13
10   SMITH   800   14

##### 문제 197.
직업, 직업별 토탈월급, 순위를 출력
순위는 직업별 토탈월급이 높은순으로 출력

In [64]:
import pandas as pd
emp = pd.read_csv('D:\\Data\\emp.csv')
emp['rnk'] = emp['sal'].rank(ascending = 0).apply(int)

emp_group = emp.groupby(['job'])['sal'].sum().values
emp_group = emp.groupby(['job'])['sal'].sum()

print(emp_group)

Index(['ANALYST', 'CLERK', 'MANAGER', 'PRESIDENT', 'SALESMAN'], dtype='object', name='job')

In [69]:
import pandas as pd

emp = pd.read_csv("D:\\Data\\emp.csv")
emp = emp.groupby('job')['sal'].sum()
emp = pd.DataFrame(emp)# emp를 dateframe으로 변환
emp['rnk'] = emp['sal'].rank(ascending = 0).apply(int)
emp = emp.sort_values('rnk', ascending = True)           # rnk 를 정렬
print(emp)

            sal  rnk
job
MANAGER    8275    1
ANALYST    6000    2
SALESMAN   5600    3
PRESIDENT  5000    4
CLERK      4150    5